<div id="banner">
    <div class="banner_content">
        <h1>File Cabinet</h1>
        <p>Your life's work. Organized, always.</p>
        <button><%= link_to "Enter", new_user_registration_path %></button>
    </div>
</div>

<div id="callouts">
    <div class="callout_inner">
        <div class="wrapper">
            <div class="callout">
                <h2>Organize</h2>
                <p>
                I'm baby viral try-hard hell of drinking vinegar ennui, jianbing schlitz 
                yuccie hashtag williamsburg yr thundercats iceland la croix stumptown. 
                Cloud bread normcore VHS, butcher pickled asymmetrical retro post-ironic. 
                </p>
            </div>
        </div> 
    </div>
</div>

<div id="button_cta">
    <div class="wrapper">
        <h2>Go Ahead!</h2>
        <br>
        <button><%= link_to "Join Now", new_user_registration_path %></button>
    </div>
</div>